<div class="container p-3"style="max-height: 580px; overflow-y: scroll;">
    <div class="row">
        {{#each impresoras}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-username text-uppercase font-weight-bold">
                            {{username}}
                        </h3>
                    <h5 class="m-2">Ubicación: {{ubicacion}}</h5>
                    <h5 class="m-2">Material total consumido:</h5><p> {{material}} grs.</p>
                    <h5 class="m-2">Tiempo total en impresión:</h5><p> {{tiempo}} min.</p>
                    <a href="/impresoras/delete/{{id}}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta impresora?');">Eliminar Impresora</a>
                    <a href="/impresoras/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay impresoras registradas.</p>
                <a href="/impresoras/add">Ingresar Impresora</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>